body {
    text-align: center;
}
    
.imagemprincipal {
    text-align: center;
}

.principal {
    background: #ffffe0;
    padding: 10%;
}

h1{
    text-align: center;
}

p {
    text-align: center;
}

#missão {
    font-size: 20px;
}

em strong {
    color: rgba(255, 208, 0, 0.932), 208, 0);
}

.itens {
    font-style: italic
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 3%;
}

.imagembeneficios {
    width: 50%
}